@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.dashboard-parent-container {
  width: 100%;
  height: 'auto';
}

.dashboard-header-container {
  width: 100vw;
  height: 65vh;
}

.dashboard-banner-container {
  width: 100vw;
  height: auto;
  z-index: 1;
  opacity: 0.95;
}

.dashboard-banner-background {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('./images/skills_banner.png');
}

.dashboard-profile-div {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 5em;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bubble-tech-name-container {
  width: 8em;
  padding: 0.5em;
  margin-top: 1.9em;
  border-radius: 0.3em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 700;
  font-size: 0.7rem;
  color: #000;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  background-color: #7c7c7b;
}

.bubble-image {
  width: 8em;
  height: 1.5em;
}

.bubble-tech-name {
  font-weight: 700;
  font-size: 1.0rem;
  color: #000;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.profile-name-container {
  width: 40em;
  display: flex;
  margin-top: 2em;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.profile-name {
  font-weight: 100;
  font-size: 2.0rem;
  color: rgb(53, 53, 53);
  font-family: 'Raleway', sans-serif;
}

.profile-designation-container {
  width: 15em;
  display: flex;
  padding: 0.8em;
  border-radius: 5em;
  -webkit-box-shadow: 19px 24px 29px -6px rgba(99, 99, 99,0.75);
  -moz-box-shadow: 19px 24px 29px -6px rgba(99, 99, 99,0.75);
  box-shadow: 19px 24px 29px -6px rgba(99, 99, 99,0.75);
  margin-top: 1em;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #0c0b0b;
}

.profile-designation {
  font-weight: 700;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.social-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  margin-left: 0em;
  border-radius: 0%;
}

.github-social-icon {
  height: 3.2em;
  padding: 1em;
}

.stackoverflow-social-icon {
  height: 2.5em;
  padding: 1em;
}

.linkedin-social-icon {
  height: 2em;
  padding: 1em;
}

.medium-social-icon {
  height: 1.5em;
  padding: 1em;
}

.twitter-social-icon {
  height: 1.5em;
  padding: 1em;
}



.profile-description-container {
  width: 60%;
  height: auto;
  margin-left: 4em;
}

.profile-description {
  font-size: 1rem;
  color: rgb(59, 59, 59);
  line-height: 1.7em;
  position: relative;  
}


.menu-bar-container {
  width: 100vw;
  height: 3.5em;
  z-index: 3000;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #646464;
  background: rgb(29, 29, 29);
}

.profile {
  width: 12em;
  height: 12em;
  border-radius: 50%;
}

.profile-image {
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.banner {
  width: 32em;
  height: 18em;
  -webkit-box-shadow: 19px 24px 29px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 19px 24px 29px -6px rgba(0,0,0,0.75);
  box-shadow: 19px 24px 29px -6px rgba(0,0,0,0.75);
  border-radius: 1.0em;
}

.project-layout-container {
  width: 100vw;
  height: auto;
  margin-top: 3em;
  display: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e7e4e4;
}

.project-even-items-container {
  width: 82vw; 
  height: auto;
  padding: 1.4em;
  margin: 5em;
  display: grid;
  grid-template-columns: 55% 50%;  
}

.project-odd-items-container {
  width: 82vw; 
  height: auto;
  padding: 1.4em;
  margin: 5em;
  display: grid;
  grid-template-columns: 55% 50%;  
}


.project-thumbnail-item {
  width: 100%;
  height: auto;
}

.project-odd-thumbnail-item {
  width: 100%;
  height: auto;
  margin-left: 3em;
}


.project-details-container {
  width: 100%;
  height: auto;
  display: column;  
}

.project-name-container {
  width: 100%;
  height: 3em;
}

.project-description-container {
  width: 100%;
  height: 4em;  
  margin-top: 3em;
  justify-content: center;
  align-items: center;
}

.project-description {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  line-height: 1.7em;
  position: relative;  
  text-shadow: 0.3px 0.3px #ccc;
}

.project-link-container {
  width: 90%;
  height: auto;
  margin-top: 5em; 
  display: flex;
  flex-direction: column; 
}

.personal-project-container {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;  
}

.medium {
  width: 6em;
  height: 6em; 
}

.medium-blog-container {
}

.github-repo-container {
  width: 100%;
  height: 4em;
  margin-left: 3em;
  display: flex;
  flex-direction: column; 
}

.github-logo-buttton {
  width: 12em;
  height: 4em; 
  justify-content: center;
  align-items: center;
}

.github-badge-container {
  width: 11vw; 
  height: auto;
  display: flex; 
}

.github-badge-icon {
  padding: 0.5em;
}

.playstore-badge-icon {
  width: 15em;
  height: 6em;
  padding: 0.5em;
}